<table class="table">

    <tr>
        <th>Title</th>
        <th>Abou tMe</th>
        <th>Favorite Genre</th>

    </tr>

    @foreach (var profile in Model)
    {
        <tr>
            <td>@profile.Title</td>
            <td>@profile.AboutMe</td>
            <td>@profile.GenreName</td>
        </tr>
    }
</table>



        <p><a asp-controller="Profile" asp-action="Remove">Delete Profile</a></p>
